{{ define "header" }}
    {{- partial "header_video.html" . -}}
{{ end }}

{{ define "main" }}
<div class="content">
    <div class="container">
        {{ .Content }}
    </div>
</div>

<div class="content red">
    <div class="container">
        <h1>Nächste Termine</h1>
        {{ $eventsBundle := .Site.GetPage "/events" }}
        {{ range sort $eventsBundle.Pages ".Name" }}
            {{ if ge (dateFormat "2006-01-02" .Params.eventDate) (dateFormat "2006-01-02" now) }}
                <a href={{ .URL }}>
                    <div class="event-preview">
                        <div class="calendar">
                            <div class="month">{{ index $.Site.Data.months_short (dateFormat "1" .Params.eventDate) }}</div>
                            <div class="day">{{ dateFormat "02" .Params.eventDate }}</div>
                        </div>
                        <div class="time">{{ dateFormat "15:04" .Params.eventDate }}</div>
                        <div class="info">
                            <h4>{{ .Title }}</h4>
                            <small>{{ .Params.location }}</small>
                        </div>
                    </div>
                </a>
            {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}