<footer>
    <h4>Impressum</h4>
    <div class="row container">
        <div class="col address">
            TTC Bühl e. V. <br>
            Dreherstr. 3 <br>
            77815 Bühl
        </div>
        <div class="col people">
            1. Vorsitz: Gabriele Braun-Lutz<br>
            2. Vorsitz: Felix Kamm
        </div>
        <div class="col contact">
            Tel.: +49 7223 2830141 <br>
            E-Mail: <a href="mailto:info@ttc-buehl.de">info@ttc-buehl.de</a>
        </div>
        <div class="col registration">
            Amtsgericht Mannheim <br>
            VR 701872
        </div>
    </div>
</footer>